<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Mathjax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    >
    </script>
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://vincenttam.github.io/javascripts/MathJaxLocal.js"
    >
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $("#{{ page.active_tab }}").addClass("active");
        {% if page.js_onready %}
          {{ page.js_onready }}
        {% endif %}
      });
    </script>
    
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon"/>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ site.baseurl }}/assets/css/syntax.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/class.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
<body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #fdb515;" role="banner">	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a href="{{ site.baseurl }}" class="navbar-brand">CMSC 473/673 NLP @ UMBC</a>
	<div class="collapse navbar-collapse" id="navbarToggler">
		   
         <ul class="mr-auto navbar-nav mt-2 mt-lg-0">
            <li class="nav-item"> <a id="about" class="nav-link" href="{{ site.baseurl }}">About</a></li>
            <li class="nav-item"><a id="lectures" class="nav-link" href="{{ site.baseurl }}/lectures.html">Schedule</a></li>
            <li id="homework" class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" data-toggle="dropdown" id="homework" href="#">Homework</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/hw1.html">HW1: Being up to the Task</a>
                <!--<a class="dropdown-item" href="{{ site.baseurl }}/homeworks/hw2.html">HW2: Evaluation</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/hw3.html">HW3: Prompt Engineering</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/project/proposal.html">Project Milestone 1: Project Proposal</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/project/progress-report1.html">Project Milestone 2: Project Progress</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/project/draft.html">Project Milestone 3: Rough Draft</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/project/final-submission.html">Project Milestone 4: Final Submission</a>-->
                <a class="dropdown-item" href="{{ site.baseurl }}/homeworks/grad.html">Grad Assignment</a>
                <!--<li><a href="{{ site.baseurl }}/homeworks/extra-credit-report.html">Extra Credit Research Report</a></li>-->

              </div>
              </li>
            <li id="inclass" class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" data-toggle="dropdown" id="inclass" href="#">Knowledge Checks</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <a class="dropdown-item" href="https://colab.research.google.com/drive/1qQxWqoMv7nlGDr7wFgl4lBBee2ASCmCQ?usp=sharing">2/5 - Handling Types and Tokens</a>
                <!--<a class="dropdown-item" href="https://colab.research.google.com/drive/19yg0EUXQtHozBiSuO6cKOBhoSPzQHgug?usp=sharing"> Data Prep</a>
				<a class="dropdown-item" href="https://colab.research.google.com/drive/1XoFuXFs6Gb67ACPh9qihsL_fx-Gbm9kZ?usp=sharing">Trigram LM</a>
				-->

              </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% if page.img %}
      <div class="row">
        <div class="col-sm-2 hidden-sm hidden-xs">
          {% if page.img_link %}<a href="{{ page.img_link }}">{% endif %} 
          <img src="{{ site.baseurl }}/assets/img/{{ page.img }}" class="img-responsive img-rounded" alt="{{ page.picture }}"/>
          {% if page.img_link %}</a>{% endif %} 
          <span class="text-muted"><i>{{ page.caption }}</i></span>

        </div>

        <div class="col-sm-10" id="content">
          {{ content }}
        </div>
      </div>
      {% else %}
		  <div id="content">
          {{ content }}
          </div>
      {% endif %}
      </div>

    <footer class="text-center text-muted">
      <hr>
      {% if page.attribution %}
      {{page.attribution | markdownify}}<br>
      {% else %}
      Last updated {{ site.time | date: "%B %d, %Y %T" }}.<br>
      The source code is on <a href="https://github.com/lara-martin/NLP-class/">GitHub</a>.
      {% endif %}
    </footer>

  </body>
</html>
